<div class="post {{{attrs}}}" id="{{{no}}}">
    <span class="subject">{{{subject}}}</span>
    <span class="name">{{{name}}}</span><span class="trip"><i>{{{trip}}}</i></span>
    <span class="posterid">{{{posterid}}}</span>
    <span class="time">{{{date}}}</span>
    <span class="no">
        <a href="#{{{no}}}">No. {{{no}}}</a>
    </span>
    <span class="replybutton">
        {{{replylink}}}
    </span>
    {{{image}}}
    <blockquote class="body">
        {{{body}}}
    </blockquote>
    <small class="reply-backlinks"></small>
</div>