<!-- where t, of course, stands for `tranny' -->

{{{temp}}}
<script>
console.log("~");
var posts = document.getElementsByClassName("post");

if (posts[0] && document.URL.split("/").length >= 5)
{
    document.title += " | " + posts[0].querySelector(".subject").innerHTML;
}

var replymap = {};
var postmap = {};
for (let post of posts)
{
    let no = post.querySelector(".no").lastElementChild.innerHTML;
    replymap[no] = [];
    postmap[no] = post;
}
for (let post of posts)
{
    let no = post.querySelector(".no").lastElementChild.innerHTML;
    let b = post.querySelector(".body").innerHTML;
    let last = 0;
    const re = /<a href=\"\S*" class=\"backlink\">&gt;&gt;\d*<\/a>/g;
    let cs = b.matchAll(re);
    let l = [];


    for (let c of cs)
    {
        c = c[0];
        c = c.slice(8);
        c = c.split(">&gt;&gt;").pop().replace("</a>", "");
        if (replymap[c] != undefined)
        {

            replymap[c].push(no);
            l.push(c);
        }
        //c = re.exec(b);
    }
}
for (let post of posts)
{
    let no = post.querySelector(".no").lastElementChild.innerHTML;
    a = new Set();
    for (let repl of replymap[no])
    {
        if (!a.has(repl))
        {
            a.add(repl);
            post.querySelector(".reply-backlinks").innerHTML += "<a class='backlink' href='#"+repl+"'>>>"+repl+"</a> ";
        }
    }
}
var backlinks = document.getElementsByClassName("backlink");
for (let backlink of backlinks)
{
    backlink.onmouseover = 
    function ()
    {
        let no = backlink.href.split("#").pop();
        if (no)
        {
            let float = postmap[no].cloneNode(true);
            float.className = "backlink-floater";
            let pos = backlink.getBoundingClientRect();
            float.style.left = String(pos.right)+"px";
            float.style.top = String(pos.top + window.scrollY)+"px";
            document.body.appendChild(float);
        }
    };
    backlink.onmouseleave = 
    function ()
    {
        let strays = document.getElementsByClassName("backlink-floater");
        for (let stray of strays)
        {
            stray.remove();
        }
    };
}
var imgs = document.getElementsByClassName("media-literal");
for (let i of imgs)
{
    i.onmouseover = 
    function ()
    {
        let float = i.cloneNode(true);
        float.className = "img-floater";
        let pos = i.getBoundingClientRect();
        float.style.left = String(pos.right)+"px";
        float.style.top = String(window.scrollY)+"px";
        float.style.maxWidth="50%";
        float.style.maxHeight="100%";
        document.body.appendChild(float);
    };
    i.onmouseleave = 
    function ()
    {
        let strays = document.getElementsByClassName("img-floater");
        for (let stray of strays)
        {
            stray.remove();
        }
    };
}
function addtopost(n)
{
    let b = document.getElementById("postbody");
    b.value += ">>"+n;
}
</script>